<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>{{ page.title | default: site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="icon" type="image/svg+xml" href="{{ site.baseurl }}/assets/favicon.svg">


    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;700&family=JetBrains+Mono:wght@300;400;600&display=swap" rel="stylesheet">

    <!-- Styles -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">


    {{ site.seo }}
</head>

<body>

<!-- Navigation -->
<nav class="navbar">
  <div class="nav-container">
    <div class="nav-logo">Local Navigation</div>
    <ul class="nav-links">
      <li><a href="{{ site.baseurl }}/">Home</a></li>
      <li><a href="{{ site.baseurl }}/#reports">Reports</a></li>
      <li><a href="{{ site.baseurl }}/#whitepapers">Whitepapers</a></li>
        <li><a class="repo-link" href="https://github.com/SergMorelli/SergMorelli-security-audit-report-samples" target="_blank">GitHub Repo</a></li>

    </ul>
  </div>
</nav>

<div class="nav-spacer"></div>

<!-- Main content -->
<div class="container">
    {{ content }}
</div>

<!-- Footer -->
<footer>
    © 2025 DataDef — Cybersecurity & Risk Management  
    UAE / EU  
    <br>
    <a href="https://datadef.ae">datadef.ae</a>
</footer>

</body>
</html>
